$white: #fff;
$black: #000;

// Concept 1 Colors
$primary: #F7E800;
$primary-variant: #E3D93F;
$secondary: #3D6654;
$secondary-variant: #A0BF5C;
$primary-accent: #0D273C;
$secondary-accent: #FF623D;
$background: #FCFAE0;
$errors: #DE0100;

//// Concept 2
//$primary: #FFE103;
//$primary-variant: #FFF852;
//$secondary: #EB7009;
//$secondary-variant: #FC8F0B;
//$primary-accent: #1A631B;
//$secondary-accent: #539B2F;
//$background: #F9F4E3;
//$errors: #B91F2D;
//
//// Concept 3
//$primary: #FFE103;
//$primary-variant: #FFF852;
//$secondary: #EB7009;
//$secondary-variant: #FC8F0B;
//$primary-accent: #1A631B;
//$secondary-accent: #539B2F;
//$background: #F9F4E3;
//$errors: #B91F2D;
//
//// Concept 4
//$primary: #EDD24C;
//$primary-variant: #F8EA90;
//$secondary: #7D7F82;
//$secondary-variant: #A6A7A8;
//$primary-accent: #232220;
//$secondary-accent: #ECEEEF;
//$background: #FFFFFF;
//$errors: #E63316;

