
#backToHomeBtn{
    margin: 4%;
    padding: 10px;
    margin-top: 4%;
    margin-left: -60px;
}

.firstContainer{
    margin-top: 8%;
}
.firstTextContainer{
    margin-top: 5%;
    margin-left: 10%;
}

.firstImage {
    padding-left: 5%;
    width: 30%;
    height: 20%;
    float: left;
}
.firstTitle{
    font-size: 4vw;
    margin-left: 25vw;
}
.firstparagraph{
    height: 30vh;
    margin-left: 25vw;
    font-size: 2vw;
}


.secondContainer{
  
}
.secondTextContainer{
    margin-left: 5%;
}
.secondImage {
    // padding-left: 25%;
    margin-bottom: 0.9%;
    width: 30%;
    height: 20%;
    float: right;
}
.secondTitle{
    font-size: 4vw;
}
.secondparagraph{
    height: 30vh;
    // margin-left: 25vw;
    font-size: 2vw;
    margin-right: 28vw;
}

.thirdContainer{

}
.thirdTextContainer{
    margin-left: 10%;
}
.thirdImage{
    padding-left: 5%;
    width: 30%;
    height: 20%;
    float: left;
}
.thirdTitle{
    font-size: 4vw;
    margin-left: 25vw;
}
.thirdparagraph{
    height: 30vh;
    margin-left: 25vw;
    font-size: 2vw;
}
